body {
    padding-top: 50px;
    overflow: hidden;
    font-family:"Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#header{
  pointer-events:all;
  position:fixed;
  height:70px;
  z-index:999999;
  background-color: #06c;
  width:100%;
  max-height:100%;
  transform:translateY(0px);
  -webkit-transform:translateY(0px);
  transition:all 350ms ease-in-out;
  color:#fff;
}

#footer{
  pointer-events:all;
  position:fixed;
  height:70px;
  z-index:999999;
  background-color: #06c;
  width:100%;
  max-height:100%;
  transform:translateY(0px);
  -webkit-transform:translateY(0px);
  transition:all 350ms ease-in-out;
  color:#fff;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}
#sidebar-wrapper {
    height: 100%;
    padding: 100px 0 0px 0;
    position: fixed;
    border-right: 1px solid gray;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow:hidden;
    
}
#sidebar .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
}
@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}
@media (min-width: 992px) {
    #main-wrapper {
        float:right;
    }
}
@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
        border-right:0;
    }
}
.footer {
    background-color:#ffffff;
    bottom:0;
    position:fixed;
    padding:10px;
}



table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}

.tabla-colegios td{
  text-align:left !important;
  
}

.tabla-colegios th{
  text-align:left !important;
}

.center
{
  margin: 0 auto !important;
  float: none !important;
}

.letra{
    padding:1px;
}